{
  "ConnectionStrings": {
    "Database": "Host=localhost;Username=;Password=;Database=OneClickEcho;"
  },
  "OpenAi": {
    "ApiKey": "",
    "Model": "gpt-4o"
  },
  "Redis": {
    "ConnectionString": "localhost:6379"
  },
  "Serilog": {
    "Using": [
      "Serilog.Sinks.Console"
    ],
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Information"
      }
    },
    "WriteTo": [
      {
        "Name": "Console"
      }
    ],
    "Enrich": [ "FromLogContext", "WithMachineName", "WithThreadId" ]
  },
  "SMS": {
    "Username": "",
    "Password": "@"
  },
  "Viber": {
    "Username": "",
    "Password": "",
    "UploadsUrl": "{UploadsUrl}"
  }
}
